
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.venvCore/
env/
venv/
*.egg-info/
dist/
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars

# Docker
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Ignore BFG and filter-repo tools
bfg-*.jar
git_filter_repo.py