name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Skip tests (no tests to run)
      run: echo "Skipping tests"

    - name: Build Docker image
      run: docker build -t core-api-workflow_2.0 .

    - name: Log in to GitHub Container Registry
      run: echo ${{ secrets.GHCR_PAT }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Tag and Push Docker image to GitHub Container Registry
      run: |
        docker tag core-api-workflow_2.0 ghcr.io/litostitos/core-api:latest
        docker push ghcr.io/litostitos/core-api:latest